body {
  background: #845282;
}
.todo-list {
  width: 80%;
  margin: 0 auto;
  background: #04072e;
  color: #f7caca;
  font-size: 24px;
}

.todo-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 30px 20px 0;
  border-bottom: 2px solid black;
  padding-left: 200px;
  padding-bottom: 20px;
}
button {
  width: 100px;
  height: 20px;
}